.seach-bar{
  width: 90%;
  margin: 30px auto;
  padding: 20px 10px 30px;
  border-radius: 5px;
}

.seach-bar form{
  display: block;
}

.seach-bar form input{
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.seach-bar form button{
  
}